body {
    background: powderblue;
    text-align: center;
}

h1,
h2,
h3 {
    color:#080808;
}

ul {
    list-style-position: inside;
    text-align: center;
}

img {
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }